# yaml-language-server: $schema=https://raw.githubusercontent.com/jesseduffield/lazygit/master/schema/config.json
gui:
  scrollHeight: 10
  expandFocusedSidePanel: true
  showNumstatInFilesView: true
  showRootItemInFileTree: false
  showRandomTip: false
  showCommandLog: false
  nerdFontsVersion: "3"
git:
  pagers:
    - externalDiffCommand: difft --display=inline --color=always
os:
  editPreset: "vscode"
customCommands:
  - key: "r"
    context: "files"
    description: "Rename file"
    prompts:
      - type: "input"
        title: "New file name:"
        key: "FileName"
    command: "git mv {{.SelectedFile.Name | quote}} {{.Form.FileName | quote}}"
  - key: "<c-a>"
    context: "commits"
    description: "Set commiter date to author date"
    prompts:
      - type: "confirm"
        key: "Confirm"
        title: "Set commiter date to author date"
        body: "Are you sure you want to update the commiter date?"
    command: "git rebase --autostash --keep-empty --no-autosquash --rebase-merges --committer-date-is-author-date {{.SelectedCommit.Hash}}^"
  # - key: "<c-c>"
  #   context: "commits"
  #   description: "Set commiter to author"
  #   prompts:
  #     - type: "confirm"
  #       key: "Confirm"
  #       title: "Set commiter to author"
  #       body: "Are you sure you want to update the commiter?"
  #   command: git filter-branch --env-filter '
  #     export GIT_COMMITTER_NAME="$GIT_AUTHOR_NAME"
  #     export GIT_COMMITTER_EMAIL="$GIT_AUTHOR_EMAIL"
  #     export GIT_COMMITTER_DATE="$GIT_AUTHOR_DATE"
  #     ' --tag-name-filter cat -- --branches --tags {{.SelectedCommit.Hash}}^
  # retrieved from: https://github.com/jesseduffield/lazygit/wiki/Custom-Commands-Compendium#conventional-commit
  - key: "<c-c>"
    context: "files"
    description: "Create new conventional commit"
    prompts:
      - type: "menu"
        key: "Type"
        title: "Type of change"
        options:
          - name: "build"
            description: "Changes that affect the build system or external dependencies"
            value: "build"
          - name: "feat"
            description: "A new feature"
            value: "feat"
          - name: "fix"
            description: "A bug fix"
            value: "fix"
          - name: "chore"
            description: "Other changes that don't modify src or test files"
            value: "chore"
          - name: "ci"
            description: "Changes to CI configuration files and scripts"
            value: "ci"
          - name: "docs"
            description: "Documentation only changes"
            value: "docs"
          - name: "perf"
            description: "A code change that improves performance"
            value: "perf"
          - name: "refactor"
            description: "A code change that neither fixes a bug nor adds a feature"
            value: "refactor"
          - name: "revert"
            description: "Reverts a previous commit"
            value: "revert"
          - name: "style"
            description: "Changes that do not affect the meaning of the code"
            value: "style"
          - name: "test"
            description: "Adding missing tests or correcting existing tests"
            value: "test"
      - type: "input"
        title: "Scope"
        key: "Scope"
        initialValue: ""
      - type: "menu"
        key: "Breaking"
        title: "Breaking change"
        options:
          - name: "no"
            value: ""
          - name: "yes"
            value: "!"
      - type: "input"
        title: "message"
        key: "Message"
        initialValue: ""
      - type: "confirm"
        key: "Confirm"
        title: "Commit"
        body: "Are you sure you want to commit?"
    command: "git commit --message '{{.Form.Type}}{{ if .Form.Scope }}({{ .Form.Scope }}){{ end }}{{.Form.Breaking}}: {{.Form.Message}}'"
    loadingText: "Creating conventional commit..."
